<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - IBSVF</title>
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderBody()
    
    <footer>
        <p>Desenvolvido por <a href="https://github.com/pabloedusilva" class="developer" target="_blank" rel="noopener noreferrer">Pablo</a></p>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
